/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  background: #fafaf9;
  color: #1c1917;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #a8a29e #fafaf9;
}
